doctype html
html(lang="en")
  head
    title Práctica: Campos Ocultos
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Página 3
    #table-wrapper
    table#desc
      table
        tr
          td Usuario: #{usuario}
        tr
          td Contraseña: #{contrasenia}
        tr
          td Valor 1: #{valor1}
        tr
          td Valor 2: #{valor2}
        tr
          td Resultado: #{resultado}